################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebBook/Controllers/AdminController.cs
/.vs/WebBook/FileContentIndex
/.vs/ProjectEvaluation/webbook.metadata.v5.2
/.vs/ProjectEvaluation/webbook.projects.v5.2
/.vs/WebBook/v17/.futdcache.v2
/.vs/WebBook/v17/.suo
/WebBook/bin/Debug/net6.0/WebBook.dll
/WebBook/bin/Debug/net6.0/WebBook.pdb
/WebBook/obj/Debug/net6.0/ref/WebBook.dll
/WebBook/obj/Debug/net6.0/refint/WebBook.dll
/WebBook/obj/Debug/net6.0/WebBook.pdb
/WebBook/obj/Debug/net6.0/WebBook.dll
/WebBook/obj/Debug/net6.0/project.razor.vs.json
/WebBook/obj/Debug/net6.0/WebBook.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
