################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebBook/Controllers/AdminController.cs
/.vs/WebBook/FileContentIndex
/.vs/ProjectEvaluation/webbook.metadata.v5.2
/.vs/ProjectEvaluation/webbook.projects.v5.2
/.vs/WebBook/v17/.futdcache.v2
/.vs/WebBook/v17/.suo
/WebBook/bin/Debug/net6.0/WebBook.dll
/WebBook/bin/Debug/net6.0/WebBook.pdb
/WebBook/obj/Debug/net6.0/ref/WebBook.dll
/WebBook/obj/Debug/net6.0/refint/WebBook.dll
/WebBook/obj/Debug/net6.0/WebBook.pdb
/WebBook/obj/Debug/net6.0/WebBook.dll
/WebBook/obj/Debug/net6.0/project.razor.vs.json
/WebBook/obj/Debug/net6.0/WebBook.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
/.vs/WebBook/DesignTimeBuild/.dtbcache.v2
/.vs/WebBook/FileContentIndex/0b9d2fc6-ed82-4732-9ec1-354de7f9f393.vsidx
/.vs/WebBook/FileContentIndex/6340a50d-ac94-49d9-bf92-88b69280cc74.vsidx
/.vs/WebBook/FileContentIndex/33f6e4a1-3a1e-4ea8-8ee7-0f46e39f9834.vsidx
/.vs/WebBook/v17/fileList.bin
/.vs/WebBook/FileContentIndex/9ed23ff0-7fb0-4ecb-a7f1-2ed254e78f0a.vsidx
/.vs/WebBook/FileContentIndex/69b18e6e-b718-4a77-8560-b11a326df8b6.vsidx
/WebBook/bin/Debug/net6.0/WebBook.dll
/WebBook/bin/Debug/net6.0/appsettings.json
/WebBook/bin/Debug/net6.0/WebBook.pdb
/WebBook/bin/Debug/net6.0/WebBook.exe
/WebBook/bin/Debug/net6.0/WebBook.staticwebassets.runtime.json
/WebBook/obj/Debug/net6.0/staticwebassets/msbuild.WebBook.Microsoft.AspNetCore.StaticWebAssets.props
/WebBook/obj/Debug/net6.0/apphost.exe
/WebBook/obj/Debug/net6.0/staticwebassets.development.json
/WebBook/obj/Debug/net6.0/staticwebassets.build.json
/WebBook/obj/Debug/net6.0/WebBook.csproj.AssemblyReference.cache
/WebBook/obj/Debug/net6.0/WebBook.assets.cache
/WebBook/obj/Debug/net6.0/staticwebassets.pack.json
/WebBook/obj/Debug/net6.0/WebBook.dll
/WebBook/obj/WebBook.csproj.nuget.dgspec.json
/WebBook/obj/Debug/net6.0/WebBook.pdb
/WebBook/obj/project.assets.json
/WebBook/obj/project.nuget.cache
/WebBook/obj/Debug/net6.0/WebBook.genruntimeconfig.cache
/WebBook/obj/Debug/net6.0/WebBook.csproj.CoreCompileInputs.cache
/WebBook/obj/WebBook.csproj.nuget.g.props
/WebBook/obj/Debug/net6.0
/.gitignore
