@model WebBook.Models.History

@{
    ViewData["Title"] = "Book Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Sdate = (DateTime.Now).AddDays(1);
    //var Edate = (DateTime.Now).AddDays(180);
    Sdate.ToString("yyyy-MM-dd");
    //Edate.ToString("yyyy-MM-dd");
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<style>
    .btn-color {
        background-color: #0e1c36;
        color: #fff;
    }
</style>
<div class="container">
    <form class="card-body cardbody-color" asp-controller="Account" asp-action="BookReqCreate">
        <div class="row jumbotron box8">
            <div class="col-6">
                <h2 class="text-center text-dark mt-2">ส่งคำขอยืมหนังสือ</h2>
                <div class="form-group">
                    <label asp-for="BookName" class="control-label"></label>
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorName" class="control-label"></label>
                    <input asp-for="AuthorName" class="form-control" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationYear" class="control-label"></label>
                    <input asp-for="PublicationYear" class="form-control" />
                    <span asp-validation-for="PublicationYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CallNumber" class="control-label"></label>
                    <input asp-for="CallNumber" class="form-control" />
                    <span asp-validation-for="CallNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookLang" class="control-label"></label>
                    <select asp-for="BookLang" class="form-select">
                        <option value="TH">TH</option>
                        <option value="EN">EN</option>
                    </select>
                    <span asp-validation-for="BookLang" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label asp-for="ReceiveDate" class="control-label"></label>
                    <input asp-for="ReceiveDate" class="form-control" />
                    <span asp-validation-for="ReceiveDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label"></label>
                    <select asp-for="LocationId" class="form-select" asp-items="ViewBag.Location"></select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="StatusId" class="control-label"></label>
                    <input asp-for="StatusId" class="form-control" />
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>

                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-color mb-3 w-30">ยืนยัน</button>
                </div>
            </div>
            <div class="col-6">
                <img src="/img/bookreq.jpg" width="100%" height="auto">
            </div>
        </div>
    </form>
</div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
