@model WebBook.Models.Feedback
<div id="feedback">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">
            @TempData["Message"]
        </div>
    }

    <h1>Feedback</h1>

    <h4>Feedback</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Feedback">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <input asp-for="FeedbackId" class="form-control" />
                <div class="form-group">
                    <label asp-for="FeedbackDetail" class="control-label"></label>
                    <input asp-for="FeedbackDetail" class="form-control" />
                    <span asp-validation-for="FeedbackDetail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ส่ง" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
