@model WebBook.Models.Feedback
    @if (TempData["Message"] != null)
{
	<div class="alert alert-info">
		@TempData["Message"]
	</div>
}
<style>
	.btn-noactive {
		color: #5D9C59;

		border: none;
		background-color: none;
		
	}
	.btn-active{
			color: white;
			border: none;
			background-color: #5D9C59;
		}

</style>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Home" asp-controller="Index">หน้าแรก</a></li>
		<li class="breadcrumb-item active" aria-current="page">ข้อเสนอแนะ,แจ้งปัญหา</li>
	</ol>
</nav>
<div class="container">
	<div class="row jumbotron box8">
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 offset-sm-1 offset-md-2 offset-lg-3 pt-5">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-evenly">
						<button class="FormFeedback  btn-active mt-2">ส่งข้อเสนอแนะ</button>
						<button class="IssueReport   btn-noactive mt-2">แจ้งปัญหา</button>
					</div>
					<hr>
					<div id="detail">

					</div>
				</div>
			</div>
		</div>


	</div>
</div>


<script type="text/javascript">
	$( document ).ready(function() {
		$('#detail').load("/Account/FormFeedback");
		
		$('.FormFeedback').click(function() {
			console.log("FormFeedback  ");
			$(".IssueReport").removeClass("btn-active");
			$(".IssueReport").addClass("btn-noactive");
			$(".FormFeedback").removeClass("btn-noactive");
			$(".FormFeedback").addClass("btn-active");
			$("#detail").find("#Issue").remove();
			$('#detail').load("/Account/FormFeedback");
			
		});
		$('.IssueReport').click(function() {
			console.log("IssueReport  ");
			$(".FormFeedback").removeClass("btn-active");
			$(".FormFeedback").addClass("btn-noactive");
			$(".IssueReport").removeClass("btn-noactive");
			$(".IssueReport").addClass("btn-active");
			$("#detail").find("#formfeedback").remove();
			$('#detail').load("/Account/IssueReport");
		});
	
	


		
	});// END document  ready

</script>

