@model WebBook.Models.Issue

@{
    ViewData["Title"] = "แจ้งปัญหา";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<div class="container">
    <form asp-action="IssueReport">
    <div class="row jumbotron box8">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 offset-sm-1 offset-md-2 offset-lg-3 pt-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mt-2">แจ้งปัญหา</h2>
                        <hr>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control" value="@ViewBag.UserEmail" disabled />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IssueTitle" class="control-label"></label>
                            <input asp-for="IssueTitle" class="form-control" />
                            <span asp-validation-for="IssueTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IssueDetail" class="control-label"></label>
                            <textarea asp-for="IssueDetail" class="form-control"></textarea>
                            <span asp-validation-for="IssueDetail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ส่ง" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
    </form>
</div>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
