@model WebBook.Models.Feedback



<div id="Issue">
					<form asp-action="Feedback">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<input type="hidden" asp-for="FeedbackId" class="form-control" />
											<input type="hidden" asp-for="UserId" class="form-control" />
											<input type="hidden" asp-for="FeedbackLike" value="แจ้งปัญหา">
											
											<div class="form-group">
												<label  class="control-label">แจ้งปัญหา</label>
												<textarea asp-for="FeedbackDetail" class="form-control"></textarea>
											</div>
											<div class="form-group text-end">
												<input type="submit" value="ส่ง" class="btn btn-primary" />
											</div>
										
									
						</form>

</div>