@model WebBook.Models.User

@{
    ViewData["Title"] = "ProfileEdit";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning">
        @ViewBag.ErrorMessage
    </div>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Index">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a asp-action="Account" asp-controller="Profile">ข้อมูลส่วนตัว</a></li>
        <li class="breadcrumb-item active" aria-current="page">แก้ไขข้อมูลส่วนตัว</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
        </div>
        <div class="col-md-10 col-lg-10 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">แก้ไขข้อมูลผู้ใช้</h4>
                </div>
                <form asp-action="ProfileEdit">
                <div class="row mt-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="AgencyId" />
                        <input type="hidden" asp-for="UserType" />
                        <input type="hidden" asp-for="Role" />
                        <input type="hidden" asp-for="UpdatedAt" />
                        <input type="hidden" asp-for="CreatedAt" />
                        <div class="col-md-6 "><label class="labels">ชื่อ</label><input type="text" class="form-control" asp-for="Firstname"><span asp-validation-for="Firstname" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">นามสกุล</label><input type="text" class="form-control" asp-for="Lastname"><span asp-validation-for="Lastname" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">อีเมล</label><input type="email" class="form-control" asp-for="Email"><span asp-validation-for="Email" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">รหัสผ่าน</label><input type="password" class="form-control" asp-for="Password" value="@TempData["Pass"]"><span asp-validation-for="Password" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">รหัสประจำตัว</label><input type="text" class="form-control" asp-for="StudentId"><span asp-validation-for="StudentId" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">เบอร์โทรศัพท์</label><input type="tel" class="form-control" asp-for="Telephone"><span asp-validation-for="Telephone" class="text-danger"></span></div>
                        <div class="col-md-6"><label class="labels">หน่วยงาน</label><input type="text" class="form-control" value="@ViewBag.Agency" disabled></div>
                        <div class="col-md-6"><label class="labels">ประเภทผู้ใช้</label><input type="text" class="form-control" value="@ViewBag.UserType" disabled></div>
                        <div class="form-group text-end col-md-12 mt-3">
                            <a class="btn btn-secondary" asp-action="Profile">Back</a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
