@model WebBook.Models.User

@{
    ViewData["Title"] = "ลงทะเบียน";
}
    <style>
        .cardbody-color {
            background-color: #ebf2fa;
        }

        .btn-color {
            background-color: #0e1c36;
            color: #fff;
        }
    </style>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning">@TempData["Message"]</div>
    }
    <div class="container mt-3">
        <form class="card-body cardbody-color p-lg-5" asp-action="Register">
            <div class="row jumbotron box8">
                <div class="col-sm-12 mx-t3 mb-4">
                    <h2 class="text-center text-dark mt-2">ลงทะเบียน</h2>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-select" asp-items="ViewBag.Agency"></select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <select asp-for="UserType" class="form-select" asp-items="ViewBag.Usertype"></select>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>

                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-color mb-3 w-30">ลงทะเบียน</button>
                </div>
                <div class="text-start">
                    <a asp-action="Login">เข้าสู่ระบบ</a>
                </div>

            </div>
        </form>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
