@model WebBook.Models.UserType

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Create";
}

<h1>สร้าง</h1>

<h4>ประเภทผู้ใช้</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="UserTypeId" class="control-label"></label>
				<input asp-for="UserTypeId" class="form-control" readonly value="@ViewBag.newidUserType" />
				<span asp-validation-for="UserTypeId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Limit" class="control-label"></label>
				<input asp-for="Limit" class="form-control" />
				<span asp-validation-for="Limit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="UserTypeName" class="control-label"></label>
				<input asp-for="UserTypeName" class="form-control" />
				<span asp-validation-for="UserTypeName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<br />

				<div class="d-flex justify-content-between">
					<a type="button" class="btn btn-secondary" asp-action="Index">Back</a>
					<input type="submit" value="Create" class="btn btn-primary  " />
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
