@model WebBook.Models.Location

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}

@if (ViewBag.ErrorMessage != null)
{
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.ErrorMessage");
            };
        </script>
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" readonly value="@ViewBag.LocationId"/>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDetail" class="control-label"></label>
                <input asp-for="LocationDetail" class="form-control" />
                <span asp-validation-for="LocationDetail" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
			<a type="button" class="btn btn-secondary" asp-action="Index">Back</a>
			<input type="submit" value="Create" class="btn btn-primary  " />
		</div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
