@model WebBook.Models.History
@using System.Globalization;

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
	CultureInfo us = new CultureInfo("en-US");
	string theDate = DateTime.Now.Date.ToString("yyyy-MM-dd", us);
	string rd = ViewBag.ReceiveDate.ToString("yyyy-MM-dd", us);
	string rt = ViewBag.ReturnDate.ToString("yyyy-MM-dd", us);
}
@if (ViewBag.ErrorMessage != null)
{
	<script type="text/javascript">
		window.onload = function () {
			alert("@ViewBag.ErrorMessage");
		};
	</script>
}
<h1>แก้ไข</h1>
<hr />


<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="HistoryId" />
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<div class="form-group">
				<label asp-for="UserId" class="control-label"></label>
				<input asp-for="UserId" class="form-control" readonly />
				<span asp-validation-for="UserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Email</label>
				<input type="text" class="form-control" readonly value="@ViewBag.UserEmail" />

			</div>
			<div class="form-group">
				<label asp-for="ReceiveDate" class="control-label"></label>
				<input type="date" asp-for="ReceiveDate" class="form-control" value="@rd"/>
				<span asp-validation-for="ReceiveDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BookName" class="control-label"></label>
				<input asp-for="BookName" class="form-control" />
				<span asp-validation-for="BookName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BookLang" class="control-label"></label>
				<select class="form-control"  name="BookLang" id="BookLang">
				@if (ViewBag.BookLang == "EN")
					{
						
						<option value="EN">หนังสือภาษาอังกฤษ</option>
						<option value="TH">หนังสือภาษาไทย</option>
					}
				else 
					{
						<option value="TH">หนังสือภาษาไทย</option>
						<option value="EN">หนังสือภาษาอังกฤษ</option>
					}
					</select>
				<span asp-validation-for="BookLang" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="AuthorName" class="control-label"></label>
				<input asp-for="AuthorName" class="form-control" />
				<span asp-validation-for="AuthorName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6 col-lg-6">
			<div class="form-group">
				<label asp-for="PublicationYear" class="control-label"></label>
				<input asp-for="PublicationYear" class="form-control" />
				<span asp-validation-for="PublicationYear" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Publisher" class="control-label"></label>
				<input asp-for="Publisher" class="form-control" />
				<span asp-validation-for="Publisher" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CallNumber" class="control-label"></label>
				<input asp-for="CallNumber" class="form-control" />
				<span asp-validation-for="CallNumber" class="text-danger"></span>
			</div>
			 <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.Location"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="ReturnDate" class="control-label"></label>
				<input asp-for="ReturnDate" type="date" class="form-control" value="@rt"/>
				<span asp-validation-for="ReturnDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StatusId" class="control-label"></label>
				<select asp-for="StatusId" class="form-control" asp-items="ViewBag.Status"></select>
				<span asp-validation-for="StatusId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="CreatedAt" type="datetime" hidden class="form-control" />
			</div>


		</div>
	</div>
	<div class="form-group">
		<br />

		<div class="d-flex justify-content-between">
			<a type="button" class="btn btn-secondary" asp-action="Index">Back</a>
			<input type="submit" value="Save" class="btn btn-primary  " />
		</div>
	</div>
</form>





@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
