@model IEnumerable<WebBook.ViewModels.BookViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "แก้ไขหนังสือ";
    var stext = ViewBag.stext;
}
<h1>แก้ไขหนังสือ</h1>
<hr />
<div class="row">
	<div class="col-md-6">
			<div class="form-group">
				<label  class="control-label"></label>
				<input id="BookId" class="form-control" readonly >
			</div>
			<div class="form-group">
				<label  class="control-label">ชื่อหนังสือ</label>
				<input  id="BookName" class="form-control" />
			</div>
			<div class="form-group">
				<label  class="control-label">ผู้แต่ง</label>
				<input  id="AuthorName" class="form-control" />
			</div>
			<div class="form-group">
				<label  class="control-label">ปีที่ตีพิมม์</label>
				<input  id="PublicationYear" class="form-control" />
			</div>
			<div class="form-group">
				<label  class="control-label">สำนักพิมม์</label>
				<input  id="Publisher" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">ปกหนังชื่อ</label>
				<input  id="BookCover" class="form-control" />
			</div>
			<div class="form-group">
				<label  class="control-label">รายละเอียด</label>
				<textarea  id="BookDetail" class="form-control" ></textarea>
			</div>

			<div class="row setBT  ">
				<div class="col-10">
					<label class="control-label">ประเภทหนังสือ</label><br>
					
					<input id="countbt"  value="" hidden>
				</div>
			</div>

			<div class="form-group ">
			<input type="submit" id="submit" class="btn btn-primary" />
				@*<button type="button" id="submit" class="btn "><a asp-action="Index">บันทึก</a></button>*@
			</div>
	</div>
</div>

<div>
    <a asp-action="Index" class="Back" >Back to List</a>
</div>
<script type="text/javascript">
	$( document ).ready(function() {
		set();
		 var countCBT = $("#countbt").val();
	
		$( "#submit" ).click(function() {
			
			
		});//click submit

	});// END document  ready

	

	
function set(){
	var i = 1;

		 var bt = @Html.Raw(ViewBag.BTT);
		 var book = @Html.Raw(ViewBag.Book);
		 var cbt = @Html.Raw(ViewBag.CBT);
		 console.log(" bt");
		 console.log(bt);
	     console.log(" book");
		 console.log(book);
		 // set data book
		 $( "#BookId" ).val(book.BookId);
		 $( "#BookName" ).val(book.BookName);
		 $( "#AuthorName" ).val(book.AuthorName);
		 $( "#PublicationYear" ).val(book.PublicationYear);
		 $( "#Publisher" ).val(book.Publisher);
		 $( "#BookCover" ).val(book.BookCover);
		 $( "#BookDetail" ).val(book.BookDetail);
			
				$.each(bt, function (Text)// set cbt
				{  
					var idcbt = cbt[i-1].CbtId;
					$( ".setBT" ).append(" <div class='col-6'> <input  hidden id='checkBTID"+i+"' value='"+idcbt+"'  />  <input  type='checkbox' id='checkBT"+i+"' /> <input id='BT"+i+"'  value='"+this.Value+"' hidden> <label  for='checkBT"+i+"'>"+this.Text+"</label>   </div>  ");
					var id="#checkBT"+i
					if( cbt[i-1].CheckBt == true){
						$(id).prop( "checked", cbt[i-1].CheckBt );
					}
					 console.log(idcbt);
					i++;
				});// END append
				$("#countbt").val(i);
				
	}
		
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
